@import '../../styles/mixins.scss';

.related-products {
	@include adaptiveValue('margin-top', 100, 50);
	@include adaptiveValue('margin-bottom', 100, 50);
	.section-header {
		&__title {
			text-align: left;
			@include adaptiveValue('font-size', 55, 40);
			@media (max-width: $mobile) {
				text-align: center;
			}
		}
	}
	// .related-products__list
	&__list {
		@include adaptiveValue('margin-top', 50, 25);
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	// .related-products__item
	&__item {
		display: flex;
		flex-wrap: wrap;
		column-gap: 50px;

		@media (max-width: $mobile) {
			flex-direction: column;
			text-align: center;
		}
	}
	// .related-products__image
	&__image {
		margin: auto 0;

		img {
			width: 250px;
		}
	}
	// .related-products__body
	&__body {
		display: block;
		padding: 15px 0;

		font-weight: 300;
	}
	// .related-products__title
	&__title {
		@include adaptiveValue('font-size', 18, 16);
		font-weight: 500;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $orangeColor;
		margin-bottom: 16px;
		line-height: 1.1;
	}
	// .related-products__subtitle
	&__subtitle {
		margin-bottom: 30px;
		line-height: 1.8;
	}
	// .related-products__price
	&__price {
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 2px;
	}
	// .related-products__order
	&__order {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-top: 15px;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
	// .related-products__wishlist
	&__wishlist {
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
.container {
}
