@import '../../styles/vars';

.follow {
	position: absolute;
	right: 0;	
	bottom: 88px;
z-index: 2;
	background-color: $bannerColor;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	min-width: 240px;
	padding: 18px 17px;
	text-transform: uppercase;
	transform: rotate(-90deg) translateY(88px);
	@media (max-width: 1400px) {
		display: none;
	}
	&.fix {
		position: fixed;
		top: 197px;
		bottom: auto;
		z-index: 1000;
	}

	&__text {
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 1px;
		white-space: nowrap;
	}
	&__social {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
// .social__link {

// }
