$fontFamily: 'Roboto', 'sans-serif';
$fontSize: 16;

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 40;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: ($containerWidth) + px; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: (992) + px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: (768) + px; // Телефони L
$mobileSmall: (480) + px; // Телефони S

// Colors
$mainColor: #3f444d;
$bannerColor: #003620;
$orangeColor: #eb601d;

$container: ($maxWidthContainer) + px;
$halfContainer: calc($container / 2);
