@import '../../styles/mixins.scss';

.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease-out;
		background-color: #fff;
		padding: rem(100) rem(20) rem(30) rem(20);
		max-width: 320px;
		align-items: flex-start;
		// flex-direction: column-reverse;
		// justify-content: flex-end;

		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			max-width: 320px;
			height: rem(84);
			transition: all 0.3s ease-out;
			background: #fff;
			z-index: 3;
		}
		&.active,
		&.active::before {
			left: 0;
		}
	}

	@media (max-width: $mobileSmall) {
		&,
		&::before {
			width: 100%;
			max-width: 100%;
		}
	}

	// .menu__link
	&__link {
		display: block;
		position: relative;
		padding: 5px 8px;
		line-height: 32px;
		font-weight: 500;

		@media (max-width: $tablet) {
			font-weight: 300;
			font-size: 20px;
		}
		@media (min-width: $tablet) {
			&.active {
				color: $orangeColor;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
				transition: all 0.3s;
			}
		}
	}
}
